<div class="row">
    <div class="col-xs-0 col-sm-0 col-md-6 col-lg-7"></div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
        <mat-card class="login-card">
            <mat-card-header>
                <div class="user-icon-default"></div>
            </mat-card-header>
            <div class="bottom-line"></div>
            <div class="bottom-line margin-bottom-105px"></div>
            <mat-card-content>
                <div class="login-container">
                    <mat-form-field>
                        <input matInput placeholder="Username / Email" class="font-size-30" type="text">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="Password" class="font-size-30" type="password">
                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">


                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button mat-button class="signup-button">Sign in</button>
                    </div>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</div>